/* ==== Global ==== */
*{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.header{
    height: 60vh;
    width: 100%;
    background-image:url("image/bgkmitl.jpg");
    background-position: center;
    background-size: cover;
    position: relative;

}
nav{
    display: flex;
    padding: 1% 5%;
    justify-content: space-between;
    align-items: center;
    background: rgb(46, 45, 45);
}
nav img{
    width: 55px;
}

.navlink{
    flex: 1;
    text-align: right;
}

.navlink ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navlink ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.navlink ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: orangered;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.navlink ul li :hover::after {
    width: 100%;

}
.text-box{
    width: 90%;
    color: azure;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;
}

.text-box p{
    margin: 10px 0 10px;
    font-size: 15px;
    color: azure;

}
.view-cur{
    display: inline-block;
    text-decoration: none;
    color: azure;
    border: 1.5px solid azure;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.view-cur:hover{
    border: 1px solid #ffa559;
    background: #ffa559;
    transition: 0.5s;
}
nav .fa{
    display: none;
}

@media(max-width: 700px){
    .view-cur{
        display: inline-block;
        text-decoration: none;
        color: azure;
        border: 1px solid azure;
        padding: 10px 27px;
        font-size: 12px;
        background: transparent;
        position: relative;
        cursor: pointer;
    }
    .text-box h1{
        font-size: 31.5px;
    }
    .text-box p{
        margin: 10px 0 10px;
        font-size: 12px;
        color: azure;
    }
    nav{
        display: flex;
        padding: 2% 5%;
        justify-content: space-between;
        align-items: center;
        background: rgb(46, 45, 45);
    }
    .navlink{
        position: absolute;
        background: rgb(255, 255, 255);
        height: 150vh;
        width: 170px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .navlink ul li{
        display: block;
        padding-top: 15px;
    }
    .navlink ul li a{
        color: rgb(99, 99, 99);
        font-size: 14px;
    }
  
    nav .fa{
        display: block;
        margin:  7px ;
        font-size: 18px;
        cursor: pointer;
    }
    .navlink ul{
        padding: 10px;
    }
}